*{
    margin:0%;
    padding:0%;
}
#Sign{
    border:1px solid rgb(85, 82, 82);
    width:345px;
    height:420px;
    border-spacing:4px;
    padding:50px;
    margin-left:540px;
    margin-top:170px;
    border-radius:15px;
    background-image: url(Imges.jpg);
}
h1{
    font-family:Source Sans Pro;
    font-size:40px;
}
label{
    font-size:20px;
    font-family:Source Sans Pro;
    padding-top:50px;
}
input[type=text], input[type=password] {
    width:345px;
    height:13%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:5px;
  }
button{
    margin-left:70px;
    margin-top:80px;
    padding-left:70px;
    padding-right:70px;
    padding-top:10px;
    padding-bottom:10px;
    font-family:Source Sans Pro;
    font-size:20px;
    border-radius:20px;
    background-color:chocolate;
    cursor: pointer;
    border-color:chocolate;
}
button:hover{
    background-color: rgb(179, 87, 22);
}
p{
    padding-left:90px;
    padding-top:10px;
    font-family:Noto Sans HK;
    font-size:14px;
}
a{
    text-decoration:none;
    padding-left:5px;
}
.div {
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
  }
.dropbtn {
    background-color:rgb(24, 21, 21);
    color:white;
    padding:0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:1400px;
    border-color:rgb(15, 14, 14);
    border-radius:2px;
  }
  .dropbtn:hover .dropbtn:focus {
    background-color:rgb(19, 15, 15);
    
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(150, 138, 138, 0.2);
    z-index: 1;
    margin-left:1300px;
  }
  
  .dropdown-content a {
    color: rgb(20, 18, 18);
    padding:12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {
    background-color: #ddd;
    
  }
  
  .show {display: block;}
